:root {
    --light_shade: white;
    --light_accent: rgb(189, 143, 124);
    --main_brand: rgb(201, 117, 63);
    --dark_accent: rgb(209, 100, 62);
    --dark_accent_thin: rgb(209, 100, 62, 0.8);
    --dark_shade: rgb(36, 28, 37);

    --foundation_dark: rgb(59, 58, 58);
    --foundation_dark_thin: rgb(59, 58, 58, 0.8);

    --blend_dark: rgb(40, 40, 40);

    --pallette-1: rgb(115.2, 85.2, 75);
    --pallette-2: rgb(120, 69, 28.2);
    --pallette-3: rgb(124.2, 59.4, 29.4);
    --pallette-4: rgb(54.6, 39, 30);
}





/* Fonts */
* {
    font-family: sans-serif;
}

h1, h2, h3 {
    font-weight: normal;
}

h2 {
    font-size: 1.25em;
}

.grayp {
    color: rgb(193, 192, 192);
}

.darkp {
    color: rgb(145, 145, 145);
}

.measure {
    color: rgb(145, 145, 145);
    font-size: 0.75em;
}
.measure label {
    color: var(--light_shade);
    font-size: 1.45em;
}

.measure-big {
    color: rgb(145, 145, 145);
    font-size: 0.85em;
}
.measure-big label {
    color: var(--light_shade);
    font-size: 1.6em;
}
.small-big {
    font-size: 1.2em;
}








html, body, #main-pokedex {
    left: 0;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(34, 34, 35);

    scroll-behavior: smooth;
    overflow-x: hidden;
}

#main-pokedex {
    color: var(--light_shade);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body *, body {
    transition: 0.3s;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    border:1.5px solid white;
    width: 100%;
}





/* Profile Stuff */

#profile-holder {
    position: absolute;
    width: 45%;
    max-width: 220px;
    z-index: 2;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 0;
    left: 50%;
}

.play {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 24px;

    border-color: transparent transparent transparent #202020;
    transition: 100ms all ease;
    cursor: pointer;

    border-style: solid;
    border-width: 12px 0 12px 20px;
}
.play.paused {
    border-style: double;
    border-width: 0px 0 0px 20px;
}
.play:hover {
    border-color: transparent transparent transparent #404040;
}


/* Background Stuff */

#dex_bg {
    position: relative;
    margin-top: auto;
    width: 90%;
    height: 80%;
    background: linear-gradient(var(--dark_accent_thin), var(--dark_accent_thin)),
                linear-gradient(var(--foundation_dark), var(--foundation_dark));
}


/* Block stuff */

#blockade {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll;

    scroll-snap-type: x mandatory;
    scroll-snap-points-x: repeat(100%);
    scroll-padding: 0 1px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
#blockade::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.shadow1, shadow2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}
.shadow1 {
    box-shadow: inset 0px 30px 18px -18px var(--foundation_dark_thin);
}
.shadow2 {
    height: 100%;
    box-shadow: inset 0px 40px 18px -18px var(--dark_accent_thin);
}

.blocks {
    min-width: 100%;
    height: 100%;
    overflow: auto;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.blocks .inner-wrapper {
    padding-top: 75px;
    padding-bottom: 50px;
    height: 100%;
}
.blocks {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.blocks::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.big-block {
    background-color: var(--foundation_dark);
    padding: 10px;
    margin: 15px 20px;
    box-shadow: 0px 0.5px 5px 0px #000000;
}
.big-block h2:first-child {
    margin-top: 2px;
}
.mini-block {
    display: inline-block;
    padding: 5px 25px;
    width: auto;
}

.col-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cent-col {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.two-col {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.between-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.three-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 360px;
    width: 100%;
}
.three-col .lang {
    flex: 0 0 70px;
    margin: 10px;
}

.lang {
    display: inline-block;
    padding: 5px;
    width: auto;
    position: relative;
}

.circ-years {
    position: absolute;
    height:28px;
    width:28px;
    border-radius:28px;
    border:2px solid white;
    background: var(--foundation_dark);
    top: -1px;
    right: -14px;

    text-align: center;
}
.circ-years p {
    position: absolute;
    top: -45%;
    left: 10%;
}

.col1, .col2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}
.col1 *, .col2 * {
    margin: 0;
}
.col2 {
    align-items: flex-end;
}

.b1 {
    background-color: var(--dark_shade);
}
.b1 .circ-years {
    border-color: var(--dark_shade);
}

.b2 {
    background-color: var(--dark_accent);
}
.b2 .circ-years {
    border-color: var(--dark_accent);
}


.c1 {
    background-color: var(--pallette-1);
}
.c1 .circ-level {
    border-color: var(--pallette-1);
}
.cb1 {
    border-color: var(--pallette-1);
}
.c2 {
    background-color: var(--pallette-2);
}
.c2 .circ-level {
    border-color: var(--pallette-2);
}
.cb2 {
    border-color: var(--pallette-2);
}
.c3 {
    background-color: var(--pallette-3);
}
.c3 .circ-level {
    border-color: var(--pallette-3);
}
.cb3 {
    border-color: var(--pallette-3);
}
.c4 {
    background-color: var(--pallette-4);
}
.c4 .circ-level {
    border-color: var(--pallette-4);
}
.cb4 {
    border-color: var(--pallette-4);
}

.blend1 {
    background: linear-gradient(var(--pallette-1), var(--blend_dark));
}
.blend2 {
    background: linear-gradient(var(--pallette-2), var(--blend_dark));
}
.blend3 {
    background: linear-gradient(var(--pallette-3), var(--blend_dark));
}
.blend4 {
    background: linear-gradient(var(--pallette-4), var(--blend_dark));
}



.main-color {
    background-color: var(--dark_accent_thin);
}
.main-color .circ-entry {
    border-color: var(--dark_accent_thin);
}






/* Histogram Stuff */
.chart {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: 2%;
    height: 150px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}
.chart p {
    margin-top: -30px;
}
.chart-words {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 100%;
    text-align: center;
    font-size: 0.85em;
}
  
[class*="bar"] {
    border-radius: 5px 5px 0 0;
    background-color: var(--main_brand);
    grid-row-start: 1;
    grid-row-end: 101;
    text-align: center;
}

.bar-1 {
    grid-row-start: calc(100 - (75 / 140) * 100);
}
.bar-2 {
    grid-row-start: calc(100 - (125 / 140) * 100);
}
.bar-3 {
    grid-row-start: calc(100 - (140 / 140) * 100);
}
.bar-4 {
    grid-row-start: calc(100 - (60 / 140) * 100);
    background-color: var(--dark_shade);
}
.bar-5 {
    grid-row-start: calc(100 - (90 / 140) * 100);
}
.bar-6 {
    grid-row-start: calc(100 - (40 / 140) * 100);
    background-color: var(--dark_shade);
}

.yes-small {
    display: none;
}



.four-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px; /* Adjust gap as needed */
    padding-left: 10px;
}

/* Projects */
.project {
    height: 30px;
    padding-left: 25px;
    padding-right: 5px;
    margin: 5px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circ-level {
    position: absolute;
    height:36px;
    width:36px;
    border-radius:36px;
    border:2px solid white;
    background: var(--foundation_dark);
    top: -3px;
    left: -18px;

    text-align: center;
}
.circ-level p {
    position: absolute;
    top: -100%;
    left: 35%;
    font-size: 2em;
}

.skills-used {
    height: 30px;
    background-color: gray;
    margin: 5px;
    margin-top: 0;
    margin-right: 20px;
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

/* Pokemon Entries */
.pokemon-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pokemon {
    width: 70%;
    max-width: 400px;
    height: 30px;
    padding: 5px;
    padding-left: 55px;
    padding-right: 5px;
    margin-right: 5px;
    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.circ-entry {
    position: absolute;
    height:72px;
    width:72px;
    border-radius:72px;
    border:2px solid white;
    background: var(--foundation_dark);
    top: -3px;
    left: -28px;

    text-align: center;
}
.circ-entry img {
    position: absolute;
    top: -30%;
    left: 0;
}

.types {
    width: 70%;
    max-width: 400px;
    height: 30px;
    margin-left: 60px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
}






.flex-container {
    display: flex;
    flex-wrap: wrap;
}
  
.flex-item {
    flex: 1 1 calc(50% - 10px); /* Adjust margin as needed */
    margin: 5px;
}
  



/* Image stuff */
.experience-img {
    width: 100%;
    max-width: 150px;
    height: auto;
}




/* Icon stuff */

            
.right-arrow {
    width: 50px;
    height: 50px;
    border: 3px solid white;
    border-left: 0;
    border-top: 0;
    transform: rotate(315deg);
    margin-right: 25%;
}





/* Modal stuff */

.modalContainer {
    left: 105%;
    position: fixed;
    top: 0;
    width: 40%;
    height: 100%;
    z-index: 9999;
    margin-left: 0;
}

.modalContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--foundation_dark);
    color: var(--light_shade);
    text-align: center;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.modalContent::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.in-view {
    left: 60%;
}
.shift-view {
    width: 60%;
}
.filled {
    width: 100% !important;
}

.modalContent p {
    padding: 0 5%;
}

.modalContent .side-by-side
{
    padding: 0;
}

.modalContent .side-by-side li
{
    list-style-type: none;
    display: inline;
}

.modalContent .side-by-side li:not(:first-child):before {
    content: " | ";
}

.modalStuff {
    padding: 0 5%;
}

.modalStuff img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}

.github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
  
.github-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(https://github.com/fluidicon.png);
    background-size: cover;
    margin-right: 8px;
    vertical-align: middle;
}


.close-container{
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    right: 25px;
    top: 20px;
    cursor: pointer;
}
  
.leftright{
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: var(--light_accent);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
}

.rightleft{
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: var(--light_accent);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
}
  

.close{
    margin: 50px 0 0 0;
    left: 6px;
}

.close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: var(--main_brand);
}
.close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: var(--main_brand);
}
.close-container:hover label{
    opacity: 1;
}

  





@media screen and (max-width: 950px){
    h2 {
        font-size: 1.25em;
    }
    
    .measure {
        font-size: 0.65em;
    }
    .measure label {
        font-size: 1.35em;
    }
    
    .measure-big {
        font-size: 0.75em;
    }
    .measure-big label {
        font-size: 1.5em;
    }
    .small-big {
        font-size: 1em;
    }


    #dex_bg {
        width: 100%;
    }


    .right-arrow {
        width: 5vw;
        height: 5vw;
        margin: 0 25px;
    }

    .no-small {
        display: none;
    }

    .yes-small {
        display: block;
    }

    .chart {
        grid-column-gap: 10px;
    }
    .chart-words {
        font-size: 0.75em;
    }

    .four-col {
        grid-template-columns: 1fr;
        gap: 5px; /* Adjust gap as needed */
    }

    hr {
        width: 90%;
    }

    .modalContainer {
        top: 105%;
        left: 0;
        width: 100%;
    }
    .in-view {
        top: 0;
    }
    .shift-view {
        width: 100%;
    }
}